body{
    background:#EEF9BF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.topo{
    margin:40px auto;
    text-align: center;
    color:#75B79E;
    font-family: 'Roboto', sans-serif;
    font-size:56px;
    font-weight:700;
}
ul{
    width:90%;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.carta{
height: 146px;
width: 117px;
margin:30px;
border-radius: 5px;
background:#75B79E;
display:flex;
justify-content: center;
align-items: center;

}
img{
    width:100px;
    height:100px;
}
.frente{
    position:relative;
}
.verso{
   position:absolute;
}
.esconder{
    display:none;
}

@media(max-width: 335px){
    .topo{
        font-size:36px;
    }
}